body {
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvc3YxODI3MjgtaW1hZ2Uta3d2eDdvdWouanBn.jpg');
    background-size: cover;
      transform: scaleY(-1);

}
.card,.navbar{
    background: hsla(0, 0%, 100%, 0);
    backdrop-filter: blur(60px);
}
