body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fsky&psig=AOvVaw11FpTzCkifaw9jhKWZVM_c&ust=1709221748929000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLCfr6uxzoQDFQAAAAAdAAAAABBH');
    background-size: cover;
}
.card,.navbar{
    background: hsla(0, 0%, 100%, 0);
    backdrop-filter: blur(60px);
}
